<ion-header [translucent]="true">
  <script src="https://api.mapbox.com/mapbox-gl-js/v3.2.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css" rel="stylesheet" />

  <script
    src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
    type="text/css" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <ion-toolbar>
    <ion-title>viewForm</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="GeolocationService.GoBack(NavCtrl)">
        <ion-icon slot="icon-only" name="arrow-back" color="Success">
        </ion-icon>
        <!-- Icono del botón -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="z-index-dropdown">
    <ion-card-header class="text-start">
      <ion-card-title class="d-flex mb-3">
        {{ data?.watersourcesname }}
      </ion-card-title>

      <div class="row">
        <!-- left -->
        <div class="col">
          <ion-list>
            <ion-item>
              <ion-label>
                <h2>Id</h2>
                <p>{{id_form}}</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>
                <h2>Usuario</h2>
                <p>{{username}}</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>
                <h2>Nombre / descripcion Fuente</h2>
                <p>{{data?.watersourcesname}}</p>
                <p>{{data?.description}}</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>
                <h2>LngLat / adress</h2>
                <p>{{data?.location?.longitude}}</p>
                <p>{{data?.location?.latitude}}</p>
              </ion-label>
            </ion-item>


            <ion-label class="ion-padding">
              <h2>Creado:</h2>
              <p>{{GeolocationService.formatDate(data?.created_at)}}</p>
            </ion-label>
          </ion-list>
        </div>

        <!-- right -->
        <div class="col-md-6">

          <div class="container ">
            <ion-item class="" style="min-width: 300px; max-width: 300px;">
              <img *ngIf="!img_ref_view_form" class="ms-3 mt-2 d-block mw-75 h-75" alt="Silhouette of mountains"
                src="https://ionicframework.com/docs/img/demos/card-media.png" />
         

                <img *ngIf="img_ref_view_form" class="ms-3 mt-2 d-block mw-75" alt="img"
                  [src]="img_ref_view_form"  />

          
            </ion-item>
          </div>

          <div id="mapViewForm" class="mx-auto my-auto z-index-sticky " style="position: relative;">
            <div id="mapViewForm" class="me-5 w-100 h-100"></div>
          </div>

          <!-- col -->
        </div>

        <!-- row -->
      </div>
    </ion-card-header>
  </ion-card>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">viewForm</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>