.mapViewForm {
    position: relative;
    bottom: -10.5%;
    left: 58%;
   
}

#mapViewForm{
    top: 10%;
    width: 385px;
    height: 200px;

}

.z-index-sticky {
    z-index: 1; /* Establece un valor alto para asegurarse de que esté por encima de otros elementos */
}

.z-index-dropdown {
    z-index: 9999; /* Establece un valor menor para que esté detrás del elemento .z-index-sticky */
}
