<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Menu </ion-title>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start" >
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <!-- Contenido de la página -->
  <ion-card class="z-index-dropdown">
    <ion-card-header class="text-start">
      <div class="row">
        <div class="col">
          <ion-card-title class="d-flex">
            Configuración:
          </ion-card-title>
        </div>
        <div class="col d-flex justify-content-end">
          <ion-button (click)="Update()" class="btn btn-success" fill="Clear">
            Siguente
          </ion-button>
        </div>
      </div>

      <form #myForm="ngForm">
        <!-- div row col Grande  -->
        <div class="row">
          <div class="col col-auto">
            <div class="row">
              <div
                class="col-12 d-flex justify-content-center"
                style="height: 200px"
              >
                <img
                  *ngIf="!img_ref_config"
                  class="mt-3 w-100 h-50"
                  alt="Silhouette of mountains"
                  src="https://ionicframework.com/docs/img/demos/card-media.png"
                  style="
                    border-radius: 50%;
                    max-width: 120px;
                    max-height: 200px;
                  "
                />

                <img
                  *ngIf="img_ref_config"
                  class="ms-3 w-50"
                  alt="Silhouette of mountains"
                  [src]="img_ref_config"
                  style="max-height: 200px; max-width: 120px"
                  style="border-radius: 50%"
                />
              </div>

              <div class="col-12 d-flex justify-content-center">
                <input
                  id="fileItemConfig"
                  type="file"
                  style="display: none"
                  (change)="handleFileInput($event)"
                />

                <div class="row me-4">
                  <!-- upload -->
                  <div class="col">
                    <ion-button
                      class="btn btn-secondary mt-4 ms-3 mb-0 w-100"
                      fill="clear"
                      (click)="SelectInput()"
                    >
                      Pujar Foto
                    </ion-button>
                  </div>
                  <!-- delete -->
                  <div class="col">
                    <ion-button
                      class="btn btn-danger mt-4 ms-3 mb-0 w-100 me-auto"
                      fill="clear"
                      (click)="Delete()"
                    >
                      eliminar Foto
                    </ion-button>
                  </div>
                </div>
              </div>
              <!-- cerrar col grande  -->
            </div>
          </div>

          <div class="col">
            <ion-list>
              <div class="mb-3">
                <ion-label>Nombre</ion-label>
                <ion-input
                  placeholder="Ejemplo nombre"
                  name="name"
                  [value]="formData.name"
                  [(ngModel)]="formData.name"
                ></ion-input>
              </div>

              <div class="mb-3">
                <ion-label>Nombre usuario</ion-label>
                <ion-input
                  placeholder="Ejemplo Nombre usuario"
                  name="username"
                  [value]="formData.username"
                  [(ngModel)]="formData.username"
                  
                ></ion-input>
              </div>

              <div class="mb-2">
                <ion-label>Email:</ion-label>
                <ion-input
                  placeholder="Ejemplo Email"
                  name="email"
                  [value]="formData.email"
                  [(ngModel)]="formData.email"
                  
                ></ion-input>
              </div>

              <div class="">
                <ion-select
                  label="Idioma:"
                  label-placement="floating"
                  name="language"
                  [value]="formData.language"
                  [(ngModel)]="formData.language"
                  required
                >
                  <ion-select-option value="es">Español</ion-select-option>
                  <ion-select-option value="ca">Catalan</ion-select-option>
                  <ion-select-option value="en">Ingles</ion-select-option>
                </ion-select>
              </div>
            </ion-list>
          </div>
        </div>
      </form>
    </ion-card-header>
  </ion-card>


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
