<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="GeolocationService.GoBack(NavCtrl)">
        <ion-icon slot="icon-only" name="arrow-back" color="Success">
        </ion-icon>
        <!-- Icono del botón -->
      </ion-button>
    </ion-buttons>
    <ion-title> Form </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Form</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="">
    <ion-card-header class="text-start">
      <ion-card-title class="d-flex">
        has visto una fuente y quieres aportar a Mapfont ?
        <span class="ps-3 material-symbols-outlined"> humidity_high </span>
      </ion-card-title>
      <ion-card-subtitle>Puja la Foto del Font</ion-card-subtitle>
    </ion-card-header>

<div class="row">

  <div class="col-md-6 col-lg-6 col-xl-6">

    <div class="container ms-md-0">
    <img style="max-width: 100%;"
      *ngIf="!Service.img_ref"
      class="me-3  "
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />

    <img
      *ngIf="Service.img_ref"
      class="me-1"
      alt="Silhouette of mountains"
      [src]="Service.img_ref"
      style="max-height: 345px"
    />
    </div>
    

    <div class="row mx-1 mt-2">  
    <!-- upload -->
      <div class="col  w-100">
        <input
        id="fileItem"
        type="file"
        style="display: none"
        (change)="handleFileInput($event)"   />
   
        <ion-button
          class="btn btn-secondary  "
          fill="clear"
          (click)="SelectInput()" >
          Pujar Foto
        </ion-button>
      </div>
      <!-- delete -->
      <div class="col w-sm-100 w-md-50">
        <ion-button
          class="btn btn-danger "
          fill="clear"
          (click)="Delete()"
        >
          eliminar Foto
        </ion-button>
      </div>

      <div class="col">

    <!-- siguente -->
    <ion-button
      class="btn btn-success "
      fill="clear"
      (click)="ImageSuccess()"
    >
      siguente
    </ion-button>
  </div>
  </div>
</div>
</div>

</ion-card>
</ion-content>
