<ion-content [fullscreen]="true">

  <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css" rel="stylesheet" />
  <link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
    type="text/css" />

  <div id="MapaLocation" class="map-wrapper"></div>

  <div class="map-gradient-overlay"></div>

  <div class="ui-layer">

    <header class="glass-header">
      <div class="header-left">
        <button class="back-btn" (click)="GeolocationService.GoBack(NavCtrl)">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </button>
        <h1>{{ 'select_location' | translate }}</h1>
      </div>
      <div class="brand-text">AquaPath</div>
    </header>

    <div class="search-container">
      <div class="glass-search-box">
        <ion-icon name="search-outline" class="search-icon"></ion-icon>

        <input type="text" [placeholder]="'search_place' | translate" [value]="ToSearch()" (input)="SerachPlace($event)"
          class="search-input" />

        <button class="gps-btn" (click)="SerachWithGps()">
          <ion-icon name="locate-outline"></ion-icon>
        </button>
      </div>

      <div class="suggestions-dropdown" *ngIf="data && data.length > 0">
        <div class="suggestion-item" *ngFor="let result of data" (click)="OnSelect(result)">
          <ion-icon name="location-outline"></ion-icon>
          <span>{{ result['place_name'] }}</span>
        </div>
      </div>
    </div>

    <div class="context-info hidden-md-down">
      <span class="badge">DISCOVERY PROTOCOL</span>
      <p>{{ 'confirm_font_location_is_correct' | translate }}</p>
    </div>

    <div class="bottom-action">
      <button class="btn-confirm" [disabled]="LocationNotIsSelected" [class.btn-disabled]="LocationNotIsSelected"
        (click)="LocationSuccess()">
        <span>{{ 'next_step' | translate }}</span>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </button>
    </div>

  </div>

</ion-content>