  <ion-menu  menuId="main-content" contentId="main-content" side="start" content-id="main-content"   root="rootMenu" >
      <ion-toolbar color="tertiary">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    <ion-content id="content">
      <ion-list lines="none" class="ion-margin ion-padding ion-justify-content-between">
        <ion-item (click)="navigateTo('formularios')" class="ion-no-margin">
          <ion-button expand="full" fill="clear">Formularios</ion-button>
        </ion-item>
        <ion-item (click)="navigateTo('configuracion')" class="ion-no-margin">
          <ion-button expand="full" fill="clear">Configuración</ion-button>
        </ion-item>
        <ion-item (click)="navigateTo('seguridad')" class="ion-no-margin">
          <ion-button expand="full" fill="clear">Seguridad</ion-button>
        </ion-item>
        <ion-item (click)="navigateTo('donaciones')" class="ion-no-margin">
          <ion-button expand="full" fill="clear">Donaciones</ion-button>
        </ion-item>
        <ion-item (click)="navigateTo('guardados')" class="ion-no-margin">
          <ion-button expand="full" fill="clear">Guardados</ion-button>
        </ion-item>
        <ion-item (click)="navigateTo('Confirmacion')" class="ion-no-margin">
          <ion-button expand="full" fill="clear">Confirmacion</ion-button>
        </ion-item>
        <ion-item (click)="navigateTo('CerrarSession')" class="ion-no-margin">
          <ion-button expand="full" fill="clear">Cerrar Session</ion-button>
        </ion-item>
      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

  
