<ion-tabs>
  <ion-tab-bar slot="bottom" class="glass-tab-bar">

    <ion-tab-button tab="fonts" href="/tabs/fonts">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>{{ 'explore' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isLogin" tab="form" href="/tabs/form" class="center-tab">
      <div class="fab-button">
        <ion-icon name="add-outline"></ion-icon>
      </div>
      <ion-label>{{ 'add' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="!isLogin" class="center-tab" (click)="goToLoginWithIntent('/tabs/form')">
      <div class="fab-button">
        <ion-icon name="add-outline"></ion-icon>
      </div>
      <ion-label>{{ 'add' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isLogin" tab="configuration" href="/tabs/configuration">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>{{ 'profile' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="!isLogin" (click)="goToLoginWithIntent('/tabs/configuration')">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>{{ 'profile' | translate }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>