<ion-content [fullscreen]="true" class="custom-bg">
  <div class="overlay"></div>

  <main class="main-wrapper">

    <section class="glass-effect success-card">

      <div class="icon-glow-ring">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </div>

      <div class="text-content">
        <h1>¡Fuente Guardada!</h1>
        <p>Tu contribución ha sido registrada exitosamente en MapFont. Gracias por ayudar a la comunidad.</p>
      </div>

      <button class="action-btn" (click)="GoToMap()">
        <ion-icon name="map-outline"></ion-icon>
        Ir al Mapa de Fuentes
      </button>

    </section>

  </main>
</ion-content>