<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Menu </ion-title>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Formularios</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        Tap the button in the toolbar to open the menu.
      </ion-content>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ConfigurationLookForms</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="z-index-dropdown">
    <ion-card-header class="text-start">
  
  <ion-card-title class="d-flex mb-5">
    Tus formularios aportados a MapFont:
  </ion-card-title>


  <ion-searchbar
  class="mb-5"
  color="light"
  show-clear-button="always"
  animated="true"
  placeholder="SerachPlace"
  value="Custom Clear Icon"
  [debounce]="400"
  [value]="ToSearch()"
  (ionInput)="SearchElement($event)"
></ion-searchbar>

   <!--body de la lista  -->
  <ion-list>
    <ion-item>
          <ion-label>id:</ion-label>
          <ion-label>Nombre:</ion-label>
          <ion-label >Estado:</ion-label>
          <ion-label></ion-label>
    </ion-item>
  </ion-list>
<!-- elementos de la lista -->
    <ion-list>
      <ion-item *ngFor="let result of results" (click)="OnSelect(result)">
        <ion-label>{{ result['id'] }}</ion-label>
        <ion-label>{{ result['nombre'] }}</ion-label>
        
        <ion-label *ngIf="result.aprobacion == true" class="text-success">Aprobado</ion-label>
        <ion-label *ngIf="result.aprobacion == false" class="text-danger">Rechazado</ion-label>

        <ion-label> 
          <ion-buttons class="d-flex justify-content-end">
            <ion-button>
              <ion-icon name="arrow-forward">
            </ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-label>
      </ion-item>
    </ion-list>
</ion-card-header>
</ion-card>

<app-configuration-tab></app-configuration-tab>
</ion-content>

