<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title> {{'forms' | translate}} </ion-title>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
            <ion-menu-button slot="start"></ion-menu-button>
          <ion-title>{{'forms' | translate}}</ion-title>
        </ion-toolbar>
      </ion-header>
      
      
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
    <ion-toolbar>
      <ion-title size="large">{{'forms' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="z-index-dropdown">
    <ion-card-header class="text-start">
  <ion-card-title class="d-flex mb-5">
    {{'your_contributed_forms_to_mapfont' | translate}}
  </ion-card-title>


  <ion-searchbar
  class="mb-5"
  color="light"
  show-clear-button="always"
  animated="true"
  placeholder="{{'search' | translate}}"
  value="Custom Clear Icon"
  [debounce]="400"
  [value]="ToSearch()"
  (ionInput)="SearchElement($event)"
></ion-searchbar>

<ag-grid-angular
class="ag-theme-quartz"
style="height: 500px;" 
[rowData]="results"
[columnDefs]="colDefs">
</ag-grid-angular>


   <!--body de la lista  -->
  <!-- <ion-list>
    <ion-item>
      
          <ion-label>id:</ion-label>
          <ion-label >Nombre:</ion-label>
          <ion-label  class="text-center" >Estado:</ion-label>
          <ion-label class="text-center">Creado:</ion-label>
          <ion-label></ion-label>
          

    </ion-item>
  </ion-list> -->
<!-- elementos de la lista -->
    <!-- <ion-list>
      <ion-item *ngFor="let result of results" (click)="OnSelect(result)">
        <ion-label >{{ result['id'] }}</ion-label>
        <ion-label>{{ result['watersourcesname'] }}</ion-label> 
        <ion-label *ngIf="result.approved == true" class="text-success text-center">Aprobado</ion-label>
        <ion-label *ngIf="result.approved == false" class="text-danger text-center">Rechazado</ion-label>
        <ion-label *ngIf="result.approved == null" class="text-danger text-center">Pendiente</ion-label>

        <ion-label  class="text-center">{{  GeolocationService.formatDate(result.created_at) }}</ion-label>
        <ion-label> 
          <ion-buttons class="d-flex justify-content-end" (click)="OnSelect(result)">
            <ion-button>
              <ion-icon name="arrow-forward">
            </ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-label>
      </ion-item>
    </ion-list> -->
</ion-card-header>
</ion-card>





</ion-content>




