<ion-content [fullscreen]="true" class="bg-image">
  <div class="overlay"></div>

  <main class="main-wrapper">

    <section class="glass-effect login-card">

      <div class="header-text">
        <h1>{{ 'welcome_message' | translate }}</h1>
        <p>{{ 'find_your_fountain' | translate }}</p>
      </div>

      <form class="login-form" (submit)="login(); $event.preventDefault()">

        <div class="input-group">
          <ion-icon name="mail-outline" class="input-icon"></ion-icon>
          <ion-input [placeholder]="'email_placeholder' | translate" [(ngModel)]="email" name="email" type="email"
            required>
          </ion-input>
        </div>

        <div class="input-group">
          <ion-icon name="lock-closed-outline" class="input-icon"></ion-icon>
          <ion-input [placeholder]="'password_placeholder' | translate" [(ngModel)]="password" name="password"
            type="password" required>
          </ion-input>
        </div>

        <div style="text-align: right; margin-bottom: 8px;">
          <a class="link" style="cursor: pointer; font-size: 14px;" (click)="forgotPassword()">
            {{ 'forgot_password' | translate }}
          </a>
        </div>

        <ion-button expand="block" class="submit-btn" type="submit">
          {{ 'sign_in' | translate }}
        </ion-button>
      </form>

      <div class="social-login">
        <div class="divider">
          <span>{{ 'or_login_with' | translate }}</span>
        </div>
        <div class="social-buttons">
          <button class="social-btn glass-btn" aria-label="Google" (click)="loginWithGoogle()">
            <ion-icon name="logo-google"></ion-icon>
          </button>
        </div>
      </div>

      <div class="bottom-links">
        <a (click)="GoRegister()" class="link">{{ 'register' | translate }}</a>

        <a (click)="ContinueAsGuest()" class="link">{{ 'continue_as_guest' | translate }}</a>
      </div>
    </section>

    <div class="bottom-logo">
      <svg class="custom-logo" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
        stroke-width="1.5" viewBox="0 0 24 24">
        <path d="M12 2.69l5.66 5.66a8 8 0 1 1-11.31 0z"></path>
        <path d="M12 12c-1.3 0-2.4-.7-3-1.8"></path>
        <path d="M12 12c1.3 0 2.4.7 3 1.8"></path>
        <path d="M12 12v6"></path>
        <path d="M9 16c1.3 0 2.4.7 3 1.8"></path>
        <path d="M15 16c-1.3 0-2.4-.7-3-1.8"></path>
      </svg>
    </div>

  </main>
</ion-content>