<ion-header [translucent]="true">
  <!-- mapbox import -->
  <script src="https://api.mapbox.com/mapbox-gl-js/v3.2.1/mapbox-gl.js"></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <ion-toolbar>
    <ion-title>
      fonts
    </ion-title>
  </ion-toolbar>
  <style>
    #marker {
        background-size: cover;
        width: 50px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
    }
    </style>
</ion-header>

<!-- content -->
<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">fonts</ion-title>

    </ion-toolbar>
  </ion-header>


    <!-- map -->
    <div id="Mapa-de-box" class="w-100 h-100 m-0 position-relative z-index-dropdown" style="min-width: 100% !important;" >

    </div>


    <!-- buttton to refresh page and update geojson from database -->
  <div id="button__refresh" class="position-absolute">
    <button type="button" class="button">
      <span class="button__text">Refresh</span>
      <span class="button__icon"><svg class="svg" height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M35.3 12.7c-2.89-2.9-6.88-4.7-11.3-4.7-8.84 0-15.98 7.16-15.98 16s7.14 16 15.98 16c7.45 0 13.69-5.1 15.46-12h-4.16c-1.65 4.66-6.07 8-11.3 8-6.63 0-12-5.37-12-12s5.37-12 12-12c3.31 0 6.28 1.38 8.45 3.55l-6.45 6.45h14v-14l-4.7 4.7z"></path><path d="M0 0h48v48h-48z" fill="none"></path></svg></span>
    </button>

  </div>

   

</ion-content>
